.footer {
  background-color: #111;
  color: #ccc;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 4rem;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-about {
  margin-bottom: 1.5rem;
  font-style: italic;
  color: rgb(220, 219, 221);
  font-size: 0.9rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.7rem;

}

.footer-links a{
  color: #ae98ae;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1.2rem;
}

.footer-links a:hover{
  color: #fff;
}

.footer-copy {
  margin: 1rem auto 1.7rem;
  color: rgb(129, 129, 130);
}
