.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
    padding-bottom: 1rem;
}

.navbar a {
    float: center;
    color:#ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    padding-right: 1.2rem;
}

.nav-links {
    margin-bottom: -0.5rem;
    margin-left: 2rem;
}

.navbar a:first-child{
    margin-left: 4rem;
}

.nav-links a i {
    margin: 0.5rem;
    width: 30px;
    height: 30px;
}
  

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
  
.search-box input {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    height: 40px;
    border: none;
    border-radius: 4px 0 0 4px;
}
  
.search-box button {
    height: 40px;
    padding: 0 0.75rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin-right: 4rem;
}
  
.search-box button i {
    font-size: 1rem;
}
  