.app-header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-name {
    color: white;
    padding: 4rem 0 6rem;
    margin-bottom:0;
}

.app-subtitle {
    margin-top: 5rem;
}