* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #2d2d2d;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

