* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.header-title {
  padding: 2rem;
}

.subheader {
  padding-top: 4rem;
}

.subheader .text-collections {
  margin-bottom: 4rem;
}

.subheader .feature-text {
  margin: 0.5rem;
  margin-left: 16rem;
  color:rgb(230, 227, 230)
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  background-color: #2d2d2d;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 1.5rem;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.3rem;
}

